services:
  qbittorrent-nox:
    image: qbittorrentofficial/qbittorrent-nox:latest
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      - QBT_LEGAL_NOTICE=confirm
      - QBT_WEBUI_PORT=8080
      - QBT_TORRENTING_PORT=6881
      - TZ=Asia/Singapore
      - PUID=1000
      - PGID=1000
    ports:
      - "8080:8080"
      - "6881:6881/tcp"
      - "6881:6881/udp"
    volumes:
      - ./config:/config
      - ./downloads:/downloads
